body {
  margin: 4em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;  
  box-sizing: border-box;
}
.header-inputs{
  display: flex;
  justify-content: space-between;
}
.input-and-icon{
  border: 1px solid gray;
  padding: 10px;
}

.search-box > form > input{
  border: none;
}
.header-left{
  display: flex;
  
}
fieldset{
  margin: 0.5em;
  padding: 5px;
}
select{
  border: none;
  padding: 0;
}